html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*JS-----------------------------------------------------*/
.typing {
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 1.8rem;
  }
  
  .text {
	font-family: COBAISSI;
	font-size: 6rem;
	font-weight: bold;
	font-style: italic;
	margin-left: .6rem;
  }
  
  .text::after {
	content: '';
	margin-left: .4rem;
	border-right: 2px solid #777;
	animation: cursor .9s infinite steps(2);
  }
  
  @keyframes cursor {
	from { border-right: 2px solid #222; }
	to { border-right: 2px solid #777; }
  }
/*font-------------------------------------------------------*/
@font-face {
    font-family : 'COBAISSI';
    src : url("./COBAISSI.ttf") format("truetype");
}
/*header-------------------------------------------------------*/

header{
	width: 100%;
	height: 973px;
	background-color: rgb(243, 238, 212);
}
header > :first-child{
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;

}
header > :first-child > :nth-child(2){
	margin: 30px 30px 0px 0px;
	
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
#header-right-bottom{
	margin-top: 50%;
	width: 23px;
	height: 140px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.HRB-button:hover{
	cursor: pointer;
	filter: invert(100%) sepia(11%) saturate(125%) hue-rotate(315deg) brightness(118%) contrast(100%);
	transition: 1s;
	transform: scale(1.5);
}
#header-left{
	width: 120px;
	height: 129px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#header-left > :first-child{
	margin: auto auto;
	width: 100px;
	height: 88px;
	background-image: url(./footer9999.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#header-left > :last-child{
	text-align: center;
	letter-spacing: -0.5px;
}
#header-left:hover{
	cursor: pointer;
	filter: invert(100%) sepia(11%) saturate(125%) hue-rotate(315deg) brightness(118%) contrast(100%);
	transition: 1s;
	transform: scale(1.2);

}

#header-right{
	width: 50%;
	height: 16px;
	display: flex;
	justify-content: flex-end;
	gap: 150px;
	font-weight: bold;
}
#header-right > li:hover{
	color: #ffffff;
	cursor: pointer;
	transition: 1s;
	transform: scale(1.5);

}


header > :nth-child(2){
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
}
header > :nth-child(2) > :first-child{
	width: 736px;
	height: 300px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
header > :nth-child(2) > :first-child > :first-child{
	display: flex;
	flex-direction: column;
	gap: 60px;
	margin-top: 299px;
	width: 736px;
	height: 236px;
	background-color: aquamarine;
}
#header-button{
	width: 142px;
	height: 40px;
	border: 1px solid rgb(170, 145, 119);
	text-align: center;
	line-height: 40px;
	color: rgb(198, 177, 155);
}
#header-button:hover{
	border: 1px solid transparent;

	background-color: rgb(67, 139, 139);
	color: rgb(243, 238, 212);
}
.HRB-button{
	width: 23px;
	height: 23px;
	background-image: url(./insta.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*nav-------------------------------------------------------*/
nav{
	width: 100%;
	background-color: rgb(227, 201, 178);
	display: flex;
	justify-content: center;
}
nav > :first-child{
	margin-top: 100px;
	margin-bottom: 100px;
	width: 700px;
	height: 700px;
	background-image: url(./nav1.JPG);
	background-size: 170%;
	background-position: center;
	background-repeat: no-repeat;
}



/*main-------------------------------------------------------*/
main{
	width: 100%;
}
main > div{
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 780px 780px 780px;
}
#grid1 > :nth-child(1){
	background-image: url(./grid1.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#grid1 > :nth-child(2){
	background-image: url(./grid2.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#grid1 > :nth-child(3){
	background-image: url(./grid3.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#grid1 > :nth-child(4){
	background-image: url(./grid4.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#grid1 > :nth-child(5){
	background-image: url(./grid5.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#grid1 > :nth-child(6){
	background-image: url(./grid6.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
main > :nth-child(2){
	width: 100%;
	height: 870px;
	background: linear-gradient(#e66465, #9198e5);
}
main > :nth-child(3){
	display: flex;
	justify-content: center;
	width: 100%;
	height: 853px;
	background-color: #96a9c2;
}
main > :nth-child(3) > :first-child{
	display: flex;
	gap: 24px;
	flex-direction: column;
	justify-content: center;
}
main > :nth-child(3) > :first-child > :first-child{
	text-align: center;
	font-size: 32px;
	color: rgb(243, 238, 212);
}
#grid2{
	display: grid;
	gap: 16px;
	width: 1400px;
	grid-template-columns: 256px 256px 256px 256px 256px;
	grid-template-rows: 256px;
}
#grid2 > :nth-child(1){
	background-image: url(./grid1.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#grid2 > :nth-child(2){
	background-image: url(./grid2.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#grid2 > :nth-child(3){
	background-image: url(./grid3.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#grid2 > :nth-child(4){
	background-image: url(./grid4.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#grid2 > :nth-child(5){
	background-image: url(./grid5.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
/*footer-------------------------------------------------------*/
footer{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 551px;
	background-color: rgb(227, 201, 178);
}
#grid3{
	display: grid;
	grid-template-columns: 470px 470px 470px;
	grid-template-rows: 339px;

	margin-top: 40px;
	width: 1410px;
	height: 339px;
	background-color: rgb(243, 238, 212);
}
#grid3 > :nth-child(1){
	margin: 30px 0px 0px 30px;
 	display: flex;
	gap: 8px;
 	flex-direction: column;
	color: rgb(170, 145, 119);

}
#grid3 > :nth-child(1) > :nth-child(2){
	margin-top: 32px;
	width: 130px;
	height: 130px;
	background-image: url(./footer1.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#grid3 > :nth-child(1) > :nth-child(3){
	margin-top: 10px;
}

#grid3 > :nth-child(2){
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	color: rgb(170, 145, 119);
}
#grid3 > :nth-child(2) > :first-child{
	font-size: 31px;
}
#grid3 > :nth-child(2) > :last-child{
	margin-top: 50px;
}
#grid3 > :nth-child(3){
	color: rgb(170, 145, 119);
	margin: 30px 30px 0px 0px;
 	display: flex;
	gap: 20px;
 	flex-direction: column;
 	align-items: flex-end;
}
#grid3 > :nth-child(3) > :first-child{
	width: 160px;
	height: 160px;
	background-image: url(./footer99.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#button2{
	font-size: 15px;
	width: 190px;
	height: 40px;
	border: 1px solid rgb(170, 145, 119);
	text-align: center;
	line-height: 40px;
	color: rgb(198, 177, 155);
}
#button2:hover{
	border: 1px solid transparent;
	background-color: rgb(67, 139, 139);
	color: rgb(243, 238, 212);
}

footer > :nth-child(2){
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}
footer > :nth-child(2) > :first-child{
	width: 100px;
	height: 100px;
	background-image: url(./footer999.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
footer > :nth-child(2) > :nth-child(2){
	color: rgb(175, 135, 126);

}